<?xml version="1.0" encoding="utf-8"?>
<SystemSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <CopyrightInformation>Copyright &amp;copy; 2001 - $$CurrentYear$$ Syncfusion Inc.   |   All Rights Reserved.</CopyrightInformation>
  <IsEnableCopyrightInfo>true</IsEnableCopyrightInfo>
  <InstallationFolder>TenantManagement</InstallationFolder>
  <IsEnablePoweredBySyncfusion>true</IsEnablePoweredBySyncfusion>
  <IsShowPoweredBySyncfusion>true</IsShowPoweredBySyncfusion>
  <OrganizationName>Bold ID</OrganizationName>
  <SqlConfiguration>
  </SqlConfiguration>
  <StorageType>0</StorageType>
  <WelcomeNoteText>Welcome to Bold Reports On-Premise</WelcomeNoteText>
  <TimeFormat>false</TimeFormat>
  <DRM>CCOou1vWzWadRHsZBqucSWfND5xotm3zGdgEzarPHpbj9vqKiCtoflZsA7IwJkkACUYddDE1KrSm43YOvXDRHT+Sm9rkUF4OIKlfnPddOlEoUQ74Q0yoE6HYpQzeTQvegbWHJbH3SFSX7OfSuu1fNjll7xpUrhVwAcm8EFi/7yc0w2ZZ27vPvAd6LDRMhtO280bK1zDP3wDTW7GKETXoJ824CXHRL514QxzSsq6Mw1zi+v3fyBb2NEc6xrakgseCjK2qeCHQl/sQhAgmkQt/NrId08Sf3yeEj+Sld42L5m3pEzfdh0RJbK+X4+JSGNxmsGsPOexMHGygo7RZSDkzuwDKoYsSnoukxV0VKUHbOKHCWW1icaQuzbzbrdp/wEn9kPm2nWfslyksoW42PREXgxTdlsOFkUI34UZKAc9jtHEgWDqxGdytC8Y8TRwmKM3ap+CJw+1GhPFUEAdH19DwOfClOwyE7RHs5TjaQo1CIIyeXEHrXgRjWbpkw+eC41n+T+eH7sXsYpekUjno+0N7QTQfPdGP7aqtZb9TLRWNZJWbquBILYGfdyxfV92e/u1W4vSWbHPlhqkpLAhcsBn2g4DK2kvC/tgLMSAYqfL7M/UN/snpGmxCYLsVNILBEtsWsJsvjFjLcn0Rhwt82y80CSsWGGh+t7pogAdTAhtblVbLUnVey7BbNJ6WJu55OfQjZ0zw+a7TQnkDyV7566rqdQ==</DRM>
  <InternalAppBIUrl>
  </InternalAppBIUrl>
  <InternalAppReportUrl>http://localhost:58159/reporting</InternalAppReportUrl>
  <InternalAppClientId>e82e11bd-1dee-4ff1-bc73-62f0a370db26</InternalAppClientId>
  <InternalAppClientSecret>PlzNGT79BzHBihwBvuEDJgDfAob5EmeboTtfUuoOOnGQRUPoytxKyWBdSeDTveFmTYwG5nz2jYtbDXXnPNJP5g==</InternalAppClientSecret>
  <PreviewFeatures>
    <Localization>false</Localization>
  </PreviewFeatures>
</SystemSettings>