<?xml version="1.0" encoding="utf-8"?>
<SystemSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <CopyrightInformation>Copyright &amp;copy; 2001 - $$CurrentYear$$ Syncfusion Inc.   |   All Rights Reserved.</CopyrightInformation>
  <IsEnableCopyrightInfo>true</IsEnableCopyrightInfo>
  <IsEnablePoweredBySyncfusion>true</IsEnablePoweredBySyncfusion>
  <IsShowPoweredBySyncfusion>true</IsShowPoweredBySyncfusion>
  <OrganizationName>Bold ID</OrganizationName>
  <SqlConfiguration>
  </SqlConfiguration>
  <StorageType>0</StorageType>
  <WelcomeNoteText>Welcome to Bold BI Enterprise</WelcomeNoteText>
  <TimeFormat>false</TimeFormat>
  <DRM>LQYrlmS+3KW34rY0XiK9wib5mJ52+PZdluxfwSUzpJ01nmotgybTOKRss0H0+39a+hfTai3Ug3a7/ocf4qdlC/ZVb7Ax6bNg8gyQb8pfkmxtdZzrzMtMi7oFvpUtvtavXYEsLpv/kE9BB0kmLU90SoFoW4Ply+pEOdpbR5jjrAX7VTYsRoPA+4ez3MQ0zRgX9cSAAkqbO/OajHFMpu/6ob1IE3DZgxdm8w4AH6hIgHzCfWNBDcn/mOi7TLEXHdKcdIK//b4JP6Br6pqiW0hDDHlP1vdUSg/La/eMg5CuFfah5P0paFRCSZCeJ3CSb9gK4K4gp4yQxOEkBASp57aUckUW2jSCPsHYAMG+3B2j0ysL2OwczBe6PIr0WVqVsv0UPYpYVpfTmOR1tWtkn96R5n5v9PKxi7w9aZRA6SKnnOJJigyZAZy/d/gJ8iaZzxAH8hc2nRJIJBOPgLcjvPFJJqVzF4ShOMwerFEJb+IzO1OhfdHKj+qrE1nSdOiXpPlp8OcJ+wFxHEA5xT/LPDtaVfF9JRnR5GOURZudbTV+sBGEtrt6h9CHe+YjVgj0WlKPWZ4DGl4LUGXsrxHgjiDcn1uhb3WunaKIjiCUPECje0OGSUIqo4Oo6sZhqY4uA2eTPUcbD7DuzEprIGsWh6pr9OrawQkWiTcBcIngEnqGSH7k0ZvIyqlq/vTjOQDPiZrx8dXBWeVTLTk7ih++y+ffe17DeglVWv1XOUo8v2PbId8UPQzE5oSw4rRsu1kRGCWF</DRM>
  <IsCustomBinding>false</IsCustomBinding>
  <InternalAppBIUrl>
  </InternalAppBIUrl>
  <InternalAppReportUrl>
  </InternalAppReportUrl>
  <InternalAppClientId>0a133d22-5dbc-4d5b-93f7-10195465fa9d</InternalAppClientId>
  <InternalAppClientSecret>2eMZdcB/DQsyXBhUJEVC5CAjj1NJMEhtkVl3ty6l2cxthuKCzmQbRdT+VIR3Reg+ONr+MVhy13vaDmO9jfRQFg==</InternalAppClientSecret>
  <PreviewFeatures>
    <Localization>false</Localization>
  </PreviewFeatures>
</SystemSettings>